.tituloProjetos{
    width: 320px;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    align-self: flex-start;
    align-items: baseline;
    padding: 40px 0;
}

.h2Projetos{
    padding-left: 40px;
}

.containerCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0 120px 0;
}

.containerCardInd{
    width: 404px;
    height: 620px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.containerImgProjeto{
    border-radius: 50px;
}

.imgProjeto{
    width: 351px;
    height: 207px;
    border-radius: 20px;
    margin: 30px 0;
}

.TxtCard{
    width: 350px;
    font-size: 16px;
}

.h3Card{
    font-size: 36px;
}

.containerIconesProjetos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconesCard{
    padding: 0 10px;
}


 @media(max-width: 1200px) {
    .tituloProjetos{
        font-size: 20px;
        padding: 20px 0;
    }
    
    .h2Projetos{
        padding: 0 0 0 10px;
    }

    .linhaEsquerda{
        width: 107px;
    }
    
    .containerCards{
        flex-direction: column;
        justify-content: space-around;
        padding: 0px 0 40px 0;
    }
    
    .cardCasulo{
        height: 500px;
        margin: 30px auto;
        width: 270px;
    }

    .cardMostraPraElas{
        height: 700px;
        margin: 30px auto;
        width: 270px;
    }

    .cardEasyc{
        height: 500px;
        margin: 30px auto;
        width: 270px;
    }
    
    .containerImgProjeto{
        border-radius: 50px;
    }
    
    .imgProjeto{
        width: 250px;
        height: 147.44px;
        border-radius: 20px;
    }
    
    .TxtCard{
        width: 230px;
    }
    
    .h3Card{
        font-size: 20px;
    }
    
    .txtCard{
        font-size: 10px;
    }
      
    .iconesCard{
        width: 28px;
        height: 28px;
    }


}