.containerTxt{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}

.containerImgSobre{
    padding: 20px 50px 30px 50px;
}

.textoSobre{
    width: 40%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.buttonCv{
    border-radius: 50px;
    font-size: 32px;
    width: 310px;
    height: 61px;
    margin-top: 30px;
}

@media(max-width: 1200px) {
    .containerTxt{
        justify-content: center;
    }

    .containerImgSobre{
        padding: 5px 5px;
    }
        
    .imgSobre{
        width: 135.9px;
        height: 135.92px;
    }
    
    .textoSobre{
        width: 55%;
        font-size: 10px;
    }
    
    .buttonCv{
        font-size: 16px;
        width: 186px;
        height: 24px;
    }
}